menu "Example Configuration - Scan config"

    config EXAMPLE_SCAN_LIST_SIZE
        int "Número maximo de redes escaneadas"
        range 0 20
        default 10
        help
            Tamaño del sarray que será utilizado apra guardar la lista de puntos de acceso encontrados.
    
    choice WIFICONF_SHOW_HIDDEN
        prompt "Escaneo de redes ocultas"
        default WIFICONF_SHOW_HIDDEN_DISABLE
        help
            Indicar si se quiere obtener información también sobre las redes ocultas
        config WIFICONF_SHOW_HIDDEN_ENABLE
            bool "Habilitado"
        config WIFICONF_SHOW_HIDDEN_DISABLE
            bool "Desabilitado"
    endchoice


    config WIFICONF_CHANNEL
        int "Canal de escaneo"
        default 0
        help 
            Indique el canal en el cual quiere realziar el escaneo (0 para indicar todos los canales)-

    choice WIFICONF_SCAN_MODE
        prompt "Tipo de escaneo"
        default WIFICONF_SCAN_MODE_ACTIVE
        help
            indique el tipo de escaneo a realizar: Activo(se enviarán mensajes de aviso) o Pasivo (únicamente se esperará a la recepción de mensajes periódicos)
        config WIFICONF_SCAN_MODE_ACTIVE
            bool "Activo"
        config WIFICONF_SCAN_MODE_PASIVE
            bool "Pasivo"
    endchoice

    config WIFICONF_SCANTIME_ACTIVE_MIN
        int  "Tiempo mínimo de escaneo en el modo activo"
        range 20 60
        default 40

    config WIFICONF_SCANTIME_ACTIVE_MAX
        int  "Tiempo máximo de escaneo en el modo activo"
        range 200 20000
        default 200

    config WIFICONF_SCANTIME_PASSIVE
        int  "Tiempo de escaneo en el modo pasivo"
        range 200 20000
        default 200
        
endmenu


menu "Example Configuration - Known networks"

    config KNOWN_NETWORKS_LIST_SIZE
        int  "Número máximo de redes conocidas"
        range 1 20
        default 10

    config KNOWN_NETWORKS_SSID_SIZE
        int  "Número máximo de caracteres que tienen los SSID especificados"
        range 1 30
        default 15

    config KNOWN_NETWORKS_PASS_SIZE
        int  "Número máximo de caracteres que tienen las contraseñas especificados"
        range 1 30
        default 15

    config KNOWN_NETWORKS_LIST
        string "Lista de redes conocidas"
        default "RPI1_test:test1234 RPI1_2test:2test1234"
        help
            Las redes deben especificarse en el siguiente formato: "SSID_1:PASS_1 SSID_2:PASS_2..."
    
endmenu